/**
!/.gitignore

!/.config/
/.config/**

!/.config/nvim/
!/.config/nvim/**
/.config/nvim/lazy-lock.json

!/.config/yabai
/.config/yabai/*
!/.config/yabai/yabairc

!/.config/skhd
.config/skhd/*
!.config/skhd/skhdrc

!.tmux.conf
